<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <h4 class="card-title">Progress Bar</h4>
                <div class="progress mrb-1" [style.height]="10 + 'px'" [style.background]="'rgba(0,0,0,.15)'">
                    <div class="determinate blue" [ngStyle]="{width: progress1 + '%'}"></div>
                </div>
                <div class="progress mrb-1" [style.height]="10 + 'px'" [style.background]="'rgba(0,0,0,.15)'">
                    <div class="determinate purple" [ngStyle]="{width: progress2 + '%'}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <app-incremented (valueOut)="progress1 = $event" [value]="progress1" [btnClass]="'blue'"></app-incremented>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <app-incremented (valueOut)="progress2 = $event" [value]="progress2" [btnClass]="'purple'"></app-incremented>
            </div>
        </div>
    </div>
</div>