<div class="row">
    <div class="col s6">
        <app-charts-donut [title]="'#Free Fire'" [data]="[{ title: 'AraratYT', value: 64 }, { title: 'TheDonato', value: 66 }, { title: 'Hectorino', value: 63 }]"></app-charts-donut>
    </div>
    <div class="col s6">
        <app-charts-donut [title]="'#Fornite'" [data]="[{ title: 'TheDonato', value: 66 }, { title: 'Hectorino', value: 63 }]"></app-charts-donut>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <app-charts-donut></app-charts-donut>
    </div>
    <div class="col s6">
        <app-charts-donut></app-charts-donut>
    </div>
</div>